.downloads-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 4em;
}

.downloads-bar__actions {
    display: flex;
    gap: 12px;
    size: 25%;
}